POSTGRES_DB=postgres
POSTGRES_HOST=db
POSTGRES_USER=user-name
POSTGRES_PASSWORD=user-password
POSTGRES_PORT=5432
DB_CONN_MAX_AGE=120

JWT_SECRET_KEY=user-secret-key

GROQ_API_KEY=visit here to get a GROQ API KEY https://console.groq.com/keys

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_WORKER_CONCURRENCY=3
CELERY_VISIBILITY_TIMEOUT=3600
CELERY_RESULT_EXPIRES=3600
CELERY_TASK_TIME_LIMIT=600
CELERY_TASK_SOFT_TIME_LIMIT=540

BASE_URL=web

PROFILING=FALSE

DEBUG=FALSE

TESTING=FALSE